
body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Roboto', serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #35323f;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: black;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #aa6464;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}

.card-white {
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 4px; rgba(0, 0, 0, 0.1);
  margin: 16px auto;
  width: 700px;
  padding: 40px;
  border-radius; 4px;
}

.avatar-circle {
  border-radius: 50px;
  width: 100px;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
  font-size: 32px;
  margin: 0 16px;
}

.container {
  width: 700px;
  margin: 32px auto;
}

.profile-round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-black {
  color: white;
  background-color: #cbe7f2;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background-color: aa6464;
  margin: 32px auto;
}
